@import 'modules/header.scss';
@import 'modules/footer.scss';

.littleNav{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #eae8e4;
  .littleNavRight{
    //width: ;
    border-left: 1px solid #eae8e4;
  }
}
