ul{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
.nav-1{
  width: 100%;
  height: 29px;
  border-bottom: 1px solid #eae8e4;
  background-color: #f6f5f3;
    p{
      width: 206px;
      height: 31px;
      font-size: 14px;
      color: #19110b;
      margin: 0 auto;
      text-align: center;
      line-height: 31px;
      a{
        color: #19110b;
      }
    }
}
.nav-2{
  height: 58px;
  width: 100%;
  border-bottom: 1px solid #eae8e4;
  .navcon{
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    li:hover{
      border-bottom: 1px solid;
    }
    .navconLeft{
      list-style: none;
      width: 490px;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      line-height: 59px;
    }
    .login-register{
      cursor: pointer;
      width: 75px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-3{
      cursor: pointer;
      width: 90px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .navconRight{
      list-style: none;
      width: 262px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      >li{
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        span{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #000;
          position: absolute;
          top: 15px;
          right: 0;
          font-size: 12px;
          color: #fff;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
